@import '../../../colorPalette';

.title-h1{
    height: 64px;
    font-weight: 400;
    font-size: 36px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: left;
}

@media (prefers-color-scheme: dark) {
    
    .title-h1 {
        color: $Blanco;
    }
}