@import '../../../../mixins';

.task-input{
    @include flex(flex, center, space-between, row);
    width: 100%;
    height: 64px;
    padding: 8px;
    background-color: var(--Negro10-Blanco10);
    color: var(--Negro-Blanco);
    border-radius: 4px;
    gap: 8px;
}

.task{
    width: calc(100% - 48px - 8px);
    height: 100%;
    font-size: 24px;
    line-height: 28px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--Negro-Blanco);
}
