@import '../../../../mixins';

.task-list {
    @include flex(flex, center, flex-start, column-reverse);
    gap: 16px;
    list-style: none;
}

.task-list li {
    width: 100%;
    height: fit-content;
}

.task-card {
    width: 100%;
    height: fit-content;
    
}