.task-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    list-style: none;
}

.task-list li {
    width: 100%;
    height: 60px;
}

.task-card {
    width: 100%;
    height: 100%;
    
}