@import '../../../mixins.scss';

.task-card  {
    @include flex(flex, center, space-between, row);
    height: fit-content;
    background-color: var(--Negro10-Blanco20);
    border-radius: 4px;

    p {
        color: var(--Negro-Blanco);
    }

    .buttons {
        @include flex(flex, center, flex-end, row);
    }
}

.task-text {
    width: calc(100% - 74px - (48px * 3));
    height: fit-content;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.checkBox {
    @include flex(flex, center, center);
    width: 24px;
    height: 24px;
    border: 2px solid var(--Negro-Blanco);
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin: 16px 8px;

    .tic {
        height: 16px;
        color: var(--Negro-Blanco);
    }
}

.checkBox:checked ~ img {
    display: block;
}

.checkBox:hover {
    background-color: var(--Negro50-Blanco50);
}

