@import '../../../mixins.scss';

.task-table {
    @include flex(flex, center, flex-start, column);
    @include width-responsive;
    min-width: 312px;
    gap: 16px;
    box-sizing: border-box;

    > hr {
        color: var(--Negro10-Blanco20);
        width: 100%;
        height: 2px;
    }
}

.task-input {
    width: 100%;
    height: 60px;
}

.floating{
    @include width-responsive;
    min-width: 312px;
    position: fixed;
    top: 16px;
    backdrop-filter: blur(12px);
    border-radius: 4px;
}

.task-list {
    width: 100%;
}
