 @import '../../../mixins';
 
 .header-container {
    @include flex(flex, center, space-between, row);
    @include width-responsive;
    min-width: 312px;
    height: 64px;
    padding: 8px;
    margin-top: 24px;
    margin-bottom: 8px;
}