.task-card  {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 2px solid black;
}

.task-card form{
    max-width: 70%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.task-card input {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

.task-card p{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.task-card button {
    width: 20px;
    height: 20px;
    border-style: none;
    background-color: white;
    cursor: pointer;
}